#button-back{
    width: 70px;
    margin: 10px;
    border-style: solid;
    border-radius: 5px;
}

#chatInput{
    margin: 10px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
}